body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

#main-container {
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.info-box, .info-box2, .info-box3 {
    background-color: #fff;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.42);
}

.info-box2 {
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    
}
#txtBreed{
    width: 280px;
}
#txtServices{
    width: 278px;
}
#txtName{
    width: 282px;
}
#txtGender{
    width: 272px;
}
#txtTime{
    margin-bottom: 10px;
}
p {
    margin: 0;
}

#petsRegisterNum {
    font-weight: bold;
    color: #4285f4;
}

h2 {
    color: #4285f4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #676767;
    padding: 10px;
}

/* Style for the last item on the list */
li:last-child {
    border-bottom: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#button{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 287px;
    height: 50px;
    margin-left: 85px;
}

label {
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
    padding: 5px;
}

.submit-button {
    margin-top: 10px;
    height: 40px;
    width: 80px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
}
/* makes hover when on top similar to basic bootstrap  */
.submit-button:hover {
    background-color: #3367d6;
}

.submit-button-box {
    margin-top: 20px;
    text-align: center;
}

#pets {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* used to split each pet into different cards */
/* 
#pets div {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    /* to shadow things use this vvv 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 30px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bottom{
    width: 80%;
    margin: auto;
}
#bottom h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    
}

 */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    min-width: 100px;
}
.table th :first-child {
    max-width: 10px !important;
}


*{
    text-align: center !important;
}

tbody td{
    margin: 100px !important;
    width: 6000px !important;

}
table {
    table-layout: fixed !important;
    width: 100% !important;
    
}
tbody{
    width: 790%;
}
 tbody button{ 
   margin-right: 100%;
   margin-left: -70px;
}
/*  600 768 1080 1440 */
/* @media(max-width:1440px){
    tbody{
        background-color: #3367d6;
        width: 1630px;

    }
    } */
@media(max-width:1500px){
    tbody button{
        margin-left: -80px;
    }
    }
@media(max-width:1230px){
    tbody button{
        margin-left: -80px;
    }
    }
@media(max-width:900px){
    tbody button{
        margin-left: -30px;
    }
    }
@media(max-width:900px){
    #table2 {
        margin-left: 5px;
        margin-right: 5%;
    }
    }
@media(max-width:780px){
    tbody button{
        margin-left: -170px;
        background-color: rgba(255, 255, 255, 0);
        color: #f2f2f200;
        width: 0;
        border: none;
        height: 0;

    }
    }
    #warning{
        color: rgba(245, 222, 179, 0);
    }
    @media(max-width:780px){
    #warning{
        color: #868686b5;
    }
}
#txtService{
    width: 130px;
}
@media(min-width:1180px){
    .info-box2{
        width: 50%;

    }
    }
@media(min-width:1180px){
    .flex-box{
        display: flex;
        flex-direction: row-reverse;

    }
    }
@media(min-width:1180px){
    #petInfo .info-box2{
        width: 800px;
        

    }
    }
@media(min-width:1180px){
    #petCount{
        height: 485px ;
        width: 500px;
        font-size: 70px;
        

    }
    }
@media(min-width:1180px){
    #petsRegisterNum2{
        margin-top: 180px;
        font-size: 230px;
        

    }
    }
.bg-red{
    background-color: red;
}






