body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

#main-container {
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.info-box, .info-box2, .info-box3 {
    background-color: #fff;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.42);
}

.info-box2 {
    text-align: center;
    font-size: 25px;
}

p {
    margin: 0;
}

#petsRegisterNum {
    font-weight: bold;
    color: #4285f4;
}

h2 {
    color: #4285f4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #676767;
    padding: 10px;
}

/* Style for the last item on the list */
li:last-child {
    border-bottom: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
    padding: 5px;
}

.submit-button {
    margin-top: 10px;
    height: 40px;
    width: 80px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
}
/* makes hover when on top similar to basic bootstrap  */
.submit-button:hover {
    background-color: #3367d6;
}

.submit-button-box {
    margin-top: 20px;
    text-align: center;
}
