* {
    background-color: #2c3e50; 
    color: #ecf0f1; 

        width: 80%;

}

body {
    font-family: 'Arial', sans-serif;
    margin: 40px;
    background-color: #2c3e50 !important;
    

}

h2 {
    color: #3498db; 
    margin-bottom: 20px; 
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #34495e;  
    color: #ecf0f1; 
    border: 1px solid #2c3e50;  
}

button {
    padding: 10px 20px;
    background-color: #3498db; 
    color: #ecf0f1; 
    border: 1px solid #2980b9;
    width: 75%;

}


button:hover {
    background-color: #2980b9; 
}
.box{
    border:1px solid rgba(0, 0, 0, 0.753);
    height: 740px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 140%;
}
.box label, .box input, .box button, .box h2{
    margin-left: 10%;
    margin-top: 5%;
    
}


@media(min-width:1000px) {
    input{
        height: 60px;
        font-size: 20px !important;
    }
    
}
h1{
    text-align: center;
}
@media(min-width:1000px) {
    button{
        height: 40px;
        font-size: 15px !important;
    }
    
}
@media(max-width:700px) {
    .box h1, .box button{
        margin-top: 17% !important;
    }
    
}